@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("//picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h1 {
  color: rgb(255, 145, 0); /* atributo CSS color */
}

h2 {
  color: rgb(206, 141, 0); /* atributo CSS color */
}

h3 {
  color: rgb(173, 113, 1); /* atributo CSS color */
}

.p1 {
  color: orange;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;

  border-width: 1px;
  border-style: solid;
  border-color: blue;
  justify-content: space-between;
}

.menu li {
  border: 1px solid blue;
}

.borda {
  border: 1px solid blue;
  box-sizing: border-box;
}

.container-custom {
  max-width: 1400px;
  margin: 0 auto;
}

.linha {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 50%;
}

.logo {
  
}

.logo img {
  max-width: 100px;
  height: auto;
}
